results/LARDExpe/infos/images.csv
results/trajec/many/infos/contr_images.csv
results/trajec/manyFAR/infos/contr_images.csv
results/trajec/beautiful
urgent_new_results/LARD_CROWN_brightness/infos/images.csv
urgent_new_results/LARD_CROWN_contrast/infos/images.csv
urgent_new_results/LARD_CROWN_whitenoise/infos/times.csv
urgent_new_results/LARD_IBPCROWN_brightness/infos/images.csv
urgent_new_results/LARD_IBPCROWN_whitenoise/infos/images.csv
