auto-lirpa==0.3
keras==2.13.1
keras2onnx==1.7.0
onnx==1.14.1
opencv-python==4.8.1.78
python==3.9.17
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.33.0
tf2onnx==1.15.1
torch==1.12.1
torchsummary==1.5.1
torchvision==0.13.1
tornado==6.3.3